:host {
    --header-bg-color: #343538;
    --hero-bg-color: #e5d9be;
    --main-body-bg-color: linear-gradient(to bottom, #333436, #24262b);
    --header-padding: 20px;
    --hero-padding: 100px 50px;
    --main-body-padding: 50px;
    --header-text-color: white;
    --hero-text-color: white;
    --wave-height: 20px;
    --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--header-bg-color);
    padding: var(--header-padding);
    text-align: center;
    color: var(--header-text-color);
    position: relative;
}

header::after {
    content: '';
    display: block;
    position: absolute;
    bottom: calc(-1 * var(--wave-height));;
    left: 0;
    width: 100%;
    height: var(--wave-height);
    background-image: url('your-wave-image.svg');
    background-repeat: repeat-x;
}

section.hero {
    background-color: var(--hero-bg-color);
    color: var(--hero-text-color);
    padding: var(--hero-padding);
    text-align: center;
    box-shadow: var(--box-shadow);
}

main.main-body {
    flex-grow: 1;
    background: var(--main-body-bg-color);
    padding: var(--main-body-padding);
}

@media (max-width: 768px) {
    section.hero {
        padding: 50px 20px;
    }
    main.main-body {
        padding: 25px;
    }
}